.my-swiper .swiper {
  margin-top: 128px;
  width: 1280px;
  height: 100px;
}

.my-swiper .swiper .swiper-slide {
  width: 50px;
  height: 100px;
  z-index: 2;
  text-align: center;
  font-size: 18px;
  background-color: transparent;
  box-shadow: none;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-swiper .swiper .swiper-slide img {
  width: 100%;
  height: 100px;
  display: block;
  object-fit: contain;
}
